table.workload-points__table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid;
    font-size: 11px;

    tbody {
        tr {
            height: 30px;
        }
    }

    th, td {
        position:relative;
        border: 1px solid;
    }

    th.workload-points__th--date-column,
    td.workload-points__td--date-column {
        max-width: 140px;
        min-width: 50px;
        text-align: center;
    }

    th.workload-points__th--group-column {
        min-width: 200px;
    }
}

.workload-points__input--value {
    position:absolute;
    margin: auto;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 2px;
    left: 1px;
    text-align: center;
}



