// Sassy

.content-body {
  margin: 1em 1em;
}

#menu-switch {
  display: none;
}
#menu-switch:checked + .navbar-brand .navbar-burger span:nth-child(1) {
  transform: translateY(-3px) rotate(45deg);
}
#menu-switch:checked + .navbar-brand .navbar-burger span:nth-child(2),
#menu-switch:checked + .navbar-brand .navbar-burger span:nth-child(4)
{
  opacity: 0;
}
#menu-switch:checked + .navbar-brand .navbar-burger span:nth-child(3) {
  transform: translateY(3px) rotate(-45deg);
}
#menu-switch:checked ~ .navbar-menu{
  display: block;
}

#notification-notice-switch {
  display: none;
}
#notification-notice:has(#notification-notice-switch:checked) {
  display: none;
}
#notification-notice:has(:not(#notification-notice-switch:checked)) {
  .delete {
    top: auto;
  }
}

#notification-alert-switch {
  display: none;
}
#notification-alert:has(#notification-alert-switch:checked) {
  display: none;
}
#notification-alert:has(:not(#notification-alert-switch:checked)) {
  .delete {
    top: auto;
  }
}
