<p>こんにちは <%= @resource.email %>!</p>

<p>パスワード変更をする場合は、以下のリンクから変更をお願いします。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>身に覚えのない場合は、このメールは無視してください。</p>
<p>上記リンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
